/* junk mostly to check outlines */
#about, section, footer, img, #about>div, nav {
  border: 1px solid rgba(204, 204, 255, 0.5);
  background-color: rgba(204, 204, 255, 0.1);
}

.subChunk, div, .imgBox, .caption {
  border: 1px solid rgba(204, 204, 255, 0.5);
  background-color: rgba(204, 204, 255, 0.1);
}

p {
  font-size: smaller;
  font-style: italic;
}

/* end of outline junk */
/* global definitions */
/* this doesn't work in safari yet :(
html {
  scroll-behavior: smooth;
} */
body {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  background-color: white;
}

#about, section, footer, img, #about>div, nav {
  padding: 1em 0;
  margin: 1em 0;
}


a, section>header, footer>header {
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.1em;
  font-variant-caps: all-small-caps;
}

a {
  color: rgba(64, 64, 192, 0.8)
}


/* header section */
#titleHeader {
  font-size: 128px;
  font-weight: bold;
}
/* nav stuff */

/* end of global items above */

/* what i do stuff */
