/* this doesn't work in safari yet :(
html {
  scroll-behavior: smooth;
} */
body {
  margin: auto 8vw;
  text-align: center;
}

// garbage stuff
div.test {
  display: flex;
}

div.test>img {
  display: block;
  width: 37vw;
}

#header>div:not(div.test) {
  align-content: center;
  justify-content: center;
}

header, section, footer {
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  height: 50em;
}

#header {
  border: 1px solid blue;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav {
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
  position: sticky;
  top: 0;
  height: auto;
  background-color: white;
  box-shadow: 0 2px 5px black;
}

#whatItDo {}

#trustTheProcess {}

#caseStudies {}

#skills {}

#portfolioStuff {}

#contact {}

section>header {
  font-weight: bolder;
}
